.pokemonCard {
	background: #FFF;
	width: 80%;
	margin: 0 auto 20px auto;
	border-radius: 4px;
	box-shadow:
		0 0.3px 3.6px rgba(0, 0, 0, 0.023),
		0 0.9px 10px rgba(0, 0, 0, 0.031),
		0 2.2px 24.1px rgba(0, 0, 0, 0.036),
		0 8px 80px rgba(0, 0, 0, 0.07);

	&.active {
		box-shadow:
			0 0.3px 2.7px rgba(0, 0, 0, 0.071),
			0 0.9px 6.9px rgba(0, 0, 0, 0.102),
			0 1.9px 14.2px rgba(0, 0, 0, 0.128),
			0 4.2px 29.2px rgba(0, 0, 0, 0.159),
			0 8px 80px rgba(0, 0, 0, 0.23);

	}	
}

.pokemonCard_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;

	.image_container {
		margin: 15px 0;
		width: 100px;
		height: 100px;
		z-index: 10;

		img {
			width: 100%;
		}
	}
}

.pokemonCard_info { 
	h2 {
		text-align: center;
		text-transform: uppercase;
	}

	.type_list {
		display: flex;
		justify-content: center;
		padding-bottom: 20px;

		span {
			margin: 0 10px;
			padding: 2px 4px;
			border-radius: 4px;
			font-size: 0.8em;
			
			&.white{
				color: #FFF;
			}

			&.black{
				color: #000;
			}
		}
	}
}