.pokemonCard {
	background: #FFF;
	width: 80%;
	margin: 0 auto 20px auto;
	border-radius: 4px;
	box-shadow:
		0 0.3px 3.6px rgba(0, 0, 0, 0.023),
		0 0.9px 10px rgba(0, 0, 0, 0.031),
		0 2.2px 24.1px rgba(0, 0, 0, 0.036),
		0 8px 80px rgba(0, 0, 0, 0.07);

	&.active {
		box-shadow:
			0 0.3px 2.7px rgba(0, 0, 0, 0.071),
			0 0.9px 6.9px rgba(0, 0, 0, 0.102),
			0 1.9px 14.2px rgba(0, 0, 0, 0.128),
			0 4.2px 29.2px rgba(0, 0, 0, 0.159),
			0 8px 80px rgba(0, 0, 0, 0.23);
		
		.wave {
			animation: drift-1 3000ms infinite linear;
		}

		.wave-two {
			animation: drift-2 7000ms infinite linear;
		}

		.wave-three {
			animation: drift-3 5000ms infinite linear;
		}


	}	
}

.pokemonCard_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;

	.wave {
		position: absolute;
		width: 250px;
		height: 250px;
		top: -140%;
		left: -17%;
		transform-origin: 50% 48%;
		border-radius: 43%;
		opacity: .6;

		&-two {
			opacity: .5;
			transform: rotate(200deg);
		}

		&-three {
			opacity: .4;
			transform: rotate(150deg);
		}
	}

	.image_container {
		background: rgba(255,255,255,0.3);
		border-radius: 50%;
		padding: 10px;
		margin-top: 15px;
		width: 120px;
		height: 120px;
		z-index: 10;

		img {
			width: 100%;
		}
	}
}

.pokemonCard_info { 
	h2 {
		text-align: center;
		text-transform: uppercase;
	}
}


@mixin drift-mixin($name, $startPoint) {
  @keyframes #{$name} {
    0% {transform: rotate($startPoint); }
    100% {transform: rotate($startPoint + 360deg);}
  }
}

@include drift-mixin(drift-1, 0deg);
@include drift-mixin(drift-2, 200deg);
@include drift-mixin(drift-3, 150deg);
